.main {
    &__section {
        display: flex;
        flex-direction: column;
    }

    &__greeting {
        display: flex;
        height: 30vw;
        margin: auto;
        justify-content: center;
        align-items: center;
        font-size: 6rem;
        text-align: center;
    }

    &__searchbox {
        width: 50%;
        background-color: transparent;
        outline: none;
        border: 1px solid #aaa;
        padding: 1rem;
        font-size: 1.6rem;
        color: #fff;
        margin: 2rem;
        border-radius: .5rem;
    }

    &__selection {
        margin-top: 2rem;

    }

    &__selectionOptions {
        margin-left: 2rem;
        background-color: #333;
        color: #fff;
        width: 50%;
        height: 4rem;
        border-radius: .5rem;
        font-size: 1.6rem;
        padding: .5rem;
        //&:focus{
        //    background-color: unset;
        //    color: red;
        //}
    }

    &__pageCount {
        margin: 2rem 0;
        color: goldenrod;
        font-weight: bold;
    }

    &__pagination {
        display: flex;
        gap: .2rem;
        margin-top: 2rem;
    }

    &__paginationButton {
        border: 1px solid #000;
        border-radius: .5rem;
        padding: 1rem;
        background-color: goldenrod;
        color: #333333;
        font-weight: bold;
        font-size: 1.6rem;
        cursor: pointer;
    }

    &__pages {
        display: none;
    }

    &__header {
        font-size: 4rem;
    }

    &__tableHead{
        background-color: #444;
        cursor: pointer;
        height: 8rem;

    }
    &__tableRow{
        height: 8rem;
        &:nth-of-type(even){
            background-color: #444;
        }
    }
    &__userContainer{
        display: flex;
        align-items: center;
    }
    &__repositoryName{
        color: goldenrod;
        font-weight: bold;
    }
    &__tableCell{
        border: 1px solid #aaa;
        padding: 1rem;
        vertical-align: middle;
        line-height: 2.5rem;
        text-align: left;
        width: 30rem;
    }
    &__cellContainer{
        display: flex;
        align-items: center;
    }
    &__avatar{
        width: 3rem;
        border-radius: 50%;
        float: left;
        margin-right: 1rem;
    }
    &__likeButton{
        border: 1px solid #000;
        border-radius: .5rem;
        padding: .5rem;
        inline-size: 15rem;
        background-color: goldenrod;
        color: #333333;
        font-weight: bold;
        font-size: 1.6rem;
        cursor: pointer;
    }
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    /* Force table to not be like tables anymore */
    .main{
        &__table{
            display: block;
        }
        &__tableHead {
            display: block;
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        &__resultTable{
            display: block;
        }
        &__tableRow {
            display: block;
            border: 1px solid #ccc;
            height: unset;
            margin-top: 2rem;
        }
        &__tableCell {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #ccc;
            position: relative;
            height: 5rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            width: unset;
            /*
            Label the data
            */
            //&:nth-of-type(1):before { content: "Id"; }
            //&:nth-of-type(2):before { content: "Nazwa repozytorium"; }
            //&:nth-of-type(3):before { content: "Właściciel"; }
            //&:nth-of-type(4):before { content: "Liczba gwiazdek"; }
            //&:nth-of-type(5):before { content: "Data utworzenia"; }
        }
        /* Hide table headers (but not display: none;, for accessibility) */
        &__tableCell:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }
    }
}



