.main{
    &__section{
        display: flex;
        flex-direction: column;
    }
    &__greeting{
        display: flex;
        height:30vw;
        margin: auto;
        justify-content: center;
        align-items: center;
        font-size: 6rem;
        text-align: center;
    }
    &__searchbox{
        width: 50%;
        background-color: transparent;
        outline: none;
        border: 1px solid #aaa;
        padding: 1rem;
        font-size: 1.6rem;
        color: #fff;
        margin: 2rem;
        border-radius: .5rem;
    }
    &__selection{
        margin-top: 2rem;

    }
    &__selectionOptions{
        margin-left: 2rem;
        background-color: #333;
        color: #fff;
        width: 50%;
        height: 4rem;
        border-radius: .5rem;
        font-size: 1.6rem;
        padding: .5rem;
        //&:focus{
        //    background-color: unset;
        //    color: red;
        //}
    }
    &__pageCount{
        margin: 2rem 0;
        color: goldenrod;
        font-weight: bold;
    }
    &__pagination{
        display: flex;
        gap: .2rem;
        margin-top: 2rem;
    }
    &__paginationButton{
        border: 1px solid #000;
        border-radius: .5rem;
        padding: 1rem;
        background-color: goldenrod;
        color: #333333;
        font-weight: bold;
        font-size: 1.6rem;
        cursor: pointer;
    }
    &__pages{
        display: none;
    }
    &__header{
        font-size: 4rem;
    }
    &__tableHead{
        background-color: #444;
        cursor: pointer;

    }
    &__tableRow{
        height: 10rem;
        &:nth-of-type(even){
            background-color: #444;
        }
    }
    &__userContainer{
        display: flex;
        align-items: center;
    }
    &__repositoryName{
        color: goldenrod;
        font-weight: bold;
    }
    &__tableCell{
        border: 1px solid #aaa;
        padding: 1rem;
        vertical-align: middle;
        line-height: 2.5rem;
    }
    &__avatar{
        width: 3rem;
        border-radius: 50%;
        float: left;
        margin-right: 1rem;
    }
    &__likeButton{
        border: 1px solid #000;
        border-radius: .5rem;
        padding: .5rem;
        inline-size: 15rem;
        background-color: goldenrod;
        color: #333333;
        font-weight: bold;
        font-size: 1.6rem;
        cursor: pointer;
    }
}